# Task 6

## Student Information
 * Sandikha Rahardi
 * РИМ-130908

## Import Libraries

In [76]:
import pandas as pd
import numpy as np
import json

## Load Original Dataframe

In [58]:
filename_1 = '../data/[1]game_logs.csv'
filename_2 = '../data/[2]automotive.csv.zip'
filename_3 = '../data/[3]flights.csv'
filename_4 = '../data/[5]asteroid.zip'

In [ ]:
df_1 = pd.read_csv(filename_1)
df_2 = pd.read_csv(filename_2, compression='zip')
df_3 = pd.read_csv(filename_3)
df_4 = pd.read_csv(filename_4, compression='zip')

In [60]:
df_1.head(2)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y

In [61]:
df_2.head(2)

,vin,stockNum,firstSeen,lastSeen,msrp,askPrice,mileage,isNew,color,interiorColor,...,vf_VIN,vf_ValveTrainDesign,vf_VehicleType,vf_WheelBaseLong,vf_WheelBaseShort,vf_WheelBaseType,vf_WheelSizeFront,vf_WheelSizeRear,vf_Wheels,vf_Windows
0,abc5f0360059cf7b6fa8368db57f220ab0d87d582bf6ce...,11701A,2019-05-06,2019-05-06,1498,1498,0,False,Gray,NaN,...,abc5f0360059cf7b6fa8368db57f220ab0d87d582bf6ce...,NaN,PASSENGER CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e24402cc77f6fd2d6a9dd626ad92795b717814340f1ab1...,9055B,2019-05-06,2019-05-06,10589,10589,0,False,Super Black,NaN,...,e24402cc77f6fd2d6a9dd626ad92795b717814340f1ab1...,NaN,PASSENGER CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_3.head(2)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df_4.head(2)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.4,939.4,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.2,545.0,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936

## Calculate Memory Usage

In [66]:
def saveToJson(name, data):
    with open("../output/"+name, 'w', encoding='utf-8') as jsonFile:
        json.dump(data, jsonFile, indent=4, ensure_ascii=False)
        
def analyze_dataset(dataset, name):
    print(f"============== {name} ==============")
    # Analyze 1
    file_memory_usage = dataset.memory_usage().sum() / (1024 * 1024)  # size on MB
    print(f"File Memory Usage: {file_memory_usage:.2f} MB")
    
    # Analyze 2
    disk_memory_usage = dataset.memory_usage(deep=True).sum() / (1024 * 1024)  # size on MB
    print(f"Disk Memory Usage: {disk_memory_usage:.2f} MB")
    
    # Analyze 3
    column_stats = []
    for column in dataset.columns:
        col_memory = dataset[column].memory_usage(deep=True) / (1024 * 1024)
        col_dtype = str(dataset[column].dtype)
        col_stats = {
            "column": column,
            "memory_usage": col_memory,
            "fraction_of_total": col_memory / disk_memory_usage,
            "dtype": col_dtype
        }
        column_stats.append(col_stats)
    sorted_column_stats = sorted(column_stats, key= lambda x: x['memory_usage'])
    # Result to Json
    result_json = {
        "file_memory_usage": file_memory_usage,
        "disk_memory_usage": disk_memory_usage,
        "column_stats": sorted_column_stats
    }
    
    saveToJson(f"{name}.json", result_json)

In [67]:
analyze_dataset(df_1, "original-dataframe-1")
analyze_dataset(df_2, "original-dataframe-2")
analyze_dataset(df_3, "original-dataframe-3")
analyze_dataset(df_4, "original-dataframe-4")

============== original-dataframe-1 ==============
File Memory Usage: 211.16 MB
Disk Memory Usage: 859.43 MB
============== original-dataframe-2 ==============
File Memory Usage: 6740.11 MB
Disk Memory Usage: 29238.93 MB
============== original-dataframe-3 ==============
File Memory Usage: 1376.28 MB
Disk Memory Usage: 2655.75 MB
============== original-dataframe-4 ==============
File Memory Usage: 329.08 MB
Disk Memory Usage: 761.26 MB

## Optimization Dataframe

In [69]:
print("============== info-dataframe-1 ==============")
print(df_1.info())
print("============== info-dataframe-2 ==============")
print(df_2.info())
print("============== info-dataframe-3 ==============")
print(df_3.info())
print("============== info-dataframe-4 ==============")
print(df_4.info())

============== info-dataframe-1 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: float64(77), int64(6), object(78)
memory usage: 211.2+ MB
None
============== info-dataframe-2 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5695015 entries, 0 to 5695014
Columns: 156 entries, vin to vf_Windows
dtypes: bool(1), float64(52), int64(4), object(99)
memory usage: 6.6+ GB
None
============== info-dataframe-3 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB
None
============== info-dataframe-4 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB
None

In [72]:
def convert_object_to_categorical(dataset):
    for column in dataset.columns:
        if dataset[column].dtype == 'object':
            unique_values_count = dataset[column].nunique()
            total_entries = len(dataset[column])
            if unique_values_count / total_entries < 0.5:
                dataset[column] = dataset[column].astype('category')
                
def downcast_int_columns(dataset):
    int_columns = dataset.select_dtypes(include=['int']).columns
    dataset[int_columns] = dataset[int_columns].apply(pd.to_numeric, downcast='integer')
    
def downcast_float_columns(dataset):
    float_columns = dataset.select_dtypes(include=['float']).columns
    dataset[float_columns] = dataset[float_columns].apply(pd.to_numeric, downcast='float')
    
def convert_all(dataset):
    convert_object_to_categorical(dataset)
    downcast_int_columns(dataset)
    downcast_float_columns(dataset)

In [73]:
convert_all(df_1)
convert_all(df_2)
convert_all(df_3)
convert_all(df_4)

In [74]:
print("============== info-converted-dataframe-1 ==============")
print(df_1.info())
print("============== info-converted-dataframe-2 ==============")
print(df_2.info())
print("============== info-converted-dataframe-3 ==============")
print(df_3.info())
print("============== info-converted-dataframe-4 ==============")
print(df_4.info())

============== info-converted-dataframe-1 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: category(78), float32(77), int16(2), int32(1), int8(3)
memory usage: 86.1 MB
None
============== info-converted-dataframe-2 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5695015 entries, 0 to 5695014
Columns: 156 entries, vin to vf_Windows
dtypes: bool(1), category(99), float32(52), int32(4)
memory usage: 2.1 GB
None
============== info-converted-dataframe-3 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int16
 1   MONTH                int8
 2   DAY                  int8
 3   DAY_OF_WEEK          int8
 4   AIRLINE              category
 5   FLIGHT_NUMBER        int16
 6   TAIL_NUMBER          category
 7   ORIGIN_AIRPORT       category
 8   DESTINATION_AIRPORT  category
 9   SCHEDULED_DEPARTURE  int16
 10  DEPARTURE_TIME       float32
 11  DEPARTURE_DELAY      float32
 12  TAXI_OUT             float32
 13  WHEELS_OFF           float32
 14  SCHEDULED_TIME       float32
 15  ELAPSED_TIME         float32
 16  AIR_TIME             float32
 17  DISTANCE             int16
 18  WHEELS_ON            float32
 19  TAXI_IN              float32
 20  SCHEDULED_ARRIVAL    int16
 21  ARRIVAL_TIME         float32
 22  ARRIVAL_DELAY        float32
 23  DIVERTED             int8
 24  CANCELLED            int8
 25  CANCELLATION_REASON  category
 26  AIR_SYSTEM_DELAY     float32
 27  SECURITY_DELAY       float32
 28  AIRLINE_DELAY        float32
 29  LATE_AIRCRAFT_DELAY  float32
 30  WEATHER_DELAY        float32
dtypes: category(5), float32(16), int16(5), int8(5)
memory usage: 483.0 MB
None
============== info-converted-dataframe-4 ==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int32
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   category
 5   prefix          18 non-null      category
 6   neo             958520 non-null  category
 7   pha             938603 non-null  category
 8   H               952261 non-null  float32
 9   diameter        136209 non-null  float32
 10  albedo          135103 non-null  float32
 11  diameter_sigma  136081 non-null  float32
 12  orbit_id        958524 non-null  category
 13  epoch           958524 non-null  float32
 14  epoch_mjd       958524 non-null  int32
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  category
 17  e               958524 non-null  float32
 18  a               958524 non-null  float64
 19  q               958524 non-null  float32
 20  i               958524 non-null  float32
 21  om              958524 non-null  float32
 22  w               958524 non-null  float32
 23  ma              958523 non-null  float32
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float32
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float32
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float32
 33  sigma_a         938602 non-null  float32
 34  sigma_q         938602 non-null  float32
 35  sigma_i         938602 non-null  float32
 36  sigma_om        938602 non-null  float32
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float32
 40  sigma_n         938602 non-null  float32
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  category
 44  rms             958522 non-null  float32
dtypes: category(7), float32(21), float64(12), int32(2), object(3)
memory usage: 202.9+ MB
None

In [75]:
analyze_dataset(df_1, "optimized-dataframe-1")
analyze_dataset(df_2, "optimized-dataframe-2")
analyze_dataset(df_3, "optimized-dataframe-3")
analyze_dataset(df_4, "optimized-dataframe-4")

============== optimized-dataframe-1 ==============
File Memory Usage: 86.15 MB
Disk Memory Usage: 102.19 MB
============== optimized-dataframe-2 ==============
File Memory Usage: 2124.02 MB
Disk Memory Usage: 2604.70 MB
============== optimized-dataframe-3 ==============
File Memory Usage: 483.05 MB
Disk Memory Usage: 483.39 MB
============== optimized-dataframe-4 ==============
File Memory Usage: 202.86 MB
Disk Memory Usage: 355.75 MB